.productList{
    flex:4;
}
.productlistuser{
    display: flex;
    align-items: center;
}
.img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productlistedit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #31a06b;
    color: seashell;
    cursor: pointer;
    margin-right: 10px;
}

.productlisteditdelete{
    color:red;
    cursor: pointer;
}